.App {
  text-align: center;
  color: #282c34;
  background-color: white;
}


.App-dark {
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#main {
  margin-top: 50px;
  transition: 0.5s; /* 0.5s transition effect to slide in the sidenav*/
}

.main-sidebar {
  padding-left: 200px;
}



@media screen and (width < 750px) {
  .main-sidebar {padding-left: 100px;}
}







#authentication {
  padding-top: 100px;
}

#authentication .register {
  padding-top: 50px;
}


.authentication-dark {
  background-color: #282c34;
  color: white;
}








#user-results {
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 250px;
  min-height: 100vh;
  color: #0000;
  background-color: #ffff;
}

#user-results.dark {
  background-color: #282c34;
  
  color: #ffff;
}

#user-results.dark table {
  color: #ffff;
}

#user-results table {
  text-align: center;

}
#user-results table thead{
  /* background-color: red; */
}

#user-results table tbody{
  /* background-color: blue; */
}






#pills-login .active {

}




#user-profile {
  width: 100%;
  height:300px;
  color: black;
  padding-top: 50px;
}

#user-profile-tag {
  top: 250px;
  height:100px;
  color: black;
}
